//footer{
//    height: 50px;
//    #border{
//        background-color: $blue;
//        height: 2px;
//        box-shadow: 2px 2px 20px $dark-grey;
//        margin-bottom: 1rem;
//    }
//    @media screen and (min-width: 900px) {
//        #rechts {
//            text-align: right;
//        }
//    }
//}


#footer {
    max-width: 85vw;
    margin:auto;
    padding: 0;
    #border{
        background-color: $blue;
        height: 2px;
        width: 85vw;
        box-shadow: 2px 2px 20px $dark-grey;
        margin-bottom: 1rem;
    }
    @media screen and (min-width: 900px) {
        #rechts {
            text-align: right;
        }
    }
    position: absolute;
    bottom: 0;
}
