html{
    height: 100%;
    box-sizing: border-box;
    body{
        color: $dark-grey ;
        background-color: $white;
        font-family: $font-family-sans-serif;
        position: relative;
        margin: 0;
        padding-bottom: 6rem;
        min-height: 100%;
        h1{
            font-family: $font-family-titels;
        }

        .container{
            max-width: 85vw;
            margin-bottom: 2rem;
        }

        .btn-primary{
            background-color: $blue;
            color: $white;
            padding: 0.25rem 0.5rem;
            transition: 0.3s;
            font-size: 1rem;
            border: 1px solid darken($blue, 20%);
        }

        .btn-secondary{
            background-color: lighten($dark-grey, 30%);
            color: $dark-grey;
            padding: 0.25rem 0.5rem;
            transition: 0.3s;
            font-size: 1rem;
            border: 1px solid $dark-grey;
        }

        .no-bullet {
            list-style-type: none;
        }
    }


}

.form-error {
    color: red;
}

.tooltip-inner {
    max-width: 400px !important;
    text-align: left;
    padding: 0.5rem;
}
