html{
    body{
        color: $dark-grey ;
        background-color: $white;
        font-family: $font-family-sans-serif;
        h1{
            font-family: $font-family-titels;
        }

        .container{
            max-width: 85vw;
        }

        .btn-primary{
            background-color: $blue;
            color: $dark-grey;
            padding: 1rem;
            transition: 0.3s;
            font-weight: bold;
            font-size: 1rem;
            border: 1px solid darken($blue, 20%);

        }
        .btn-secondary{
            background-color: lighten($dark-grey, 30%);
            color: $dark-grey;
            padding: 1rem;
            transition: 0.3s;
            font-weight: bold;
            font-size: 1rem;
            border: 1px solid darken($dark-grey, 20%);

        }
    }


}
