#togglePassword, #togglePasswordCurrent, #togglePasswordNew1, #togglePasswordNew2{
    cursor: pointer;
    float: right;
    padding-right: 30px;
    margin-left: -40px;
    margin-top: -28px;
    position: relative;
    z-index: 2;
}
