tr:nth-child(even) {
    background-color: #f2f2f2;
}

td {
    word-wrap: break-word;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;

}

.email_table {
    word-wrap: break-word;
}

#tabel{
    width: 100%;
    margin-bottom: 5rem;
}

#gebruiker_toevoegen_knop {
    margin-bottom: 2rem;
}

.fa-trash-alt, .fa-edit{
    color: $blue;
}
