// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-titels: 'Didact Gothic', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #009cab;
$orange: #f04c25;
$dark-grey: #575757;
$white: #fff;
$black: #000;
